@mixin circularButton(
  $bgColor,
  $bgColorHover,
  $iconColor,
  $hoverIconColor,
  $shadowColor
) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  padding: 0;
  margin: 0 5px;
  background-color: $bgColor;
  border: none;
  border-radius: 50%;
  &:hover,
  &:not(.inactive):not(.inactive):active {
    background-color: $bgColorHover;
    border-color: $bgColorHover;
  }
  &:hover {
    &:not(.inactive):not(.inactive):active:focus {
      background-color: $bgColorHover;
      box-shadow: 0 0 0 0.2rem $shadowColor;
    }
  }
  &:focus,
  &:not(.inactive):not(.inactive):active:focus {
    background-color: $bgColorHover;
    box-shadow: 0 0 0 0.2rem $shadowColor;
  }
  &.svg-icon {
    fill: $iconColor;
  }
  .svg-icon {
    fill: $iconColor;
  }
}

.btn {
  outline: none !important;
  cursor: pointer;
  &__list {
    @include circularButton(
      transparent,
      var(--app-edit-card),
      var(--app-text),
      var(--app-text),
      var(--app-edit-card-lighten)
    );
  }
  &__card {
    @include circularButton(
      transparent,
      var(--app-secundary),
      var(--app-text),
      var(--app-text),
      var(--app-secundary)
    );
  }
  &__color-picker {
    @include circularButton(
      var(--app-secundary),
      var(--app-secundary-darkest),
      var(--app-text),
      var(--app-text),
      var(--app-secundary)
    );
  }
  &__dashed {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    background-color: transparent;
    border: 1px dashed var(--app-primary);
    color: var(--app-text);
    width: 100%;
  }
}
