.board {
  background-color: var(--app-primary);
  height: calc(100% - 20px);
  padding: 10px 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  &__list {
    &--wrapper {
      width: 280px;
      height: 100%;
      white-space: nowrap;
      flex: 0 0 auto;
      &:not(:last-child) {
        margin-right: 0.5em;
      }
    }
    &--container {
      padding: 15px;
      background-color: var(--app-card);
      max-height: calc(100vh - 85px);
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      border-radius: 5px;
    }
    &--title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--app-text);
    }
    &--card {
      background-color: var(--app-secundary);
      color: var(--app-text);
      padding: 10px;
      margin-top: 10px;
      border-radius: 5px;
      box-shadow: 0px 4px 5px 0px rgba(135, 135, 135, 1);
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        visibility: hidden;
      }
      &:hover {
        background-color: var(--app-secundary-darkest);
        cursor: pointer;
        button {
          visibility: visible;
        }
      }
      &-container {
        flex: 1 1 auto;
        overflow-x: hidden;
        overflow-y: auto;
        margin-top: 10px;
        padding-bottom: 10px;
      }
    }
    &--add-button {
      margin-top: 15px;
      text-align: center;
    }
  }
}

.ghost {
  visibility: hidden;
  button {
    display: none;
  }
}
